var/
.idea/
.phpunit.cache/
composer.lock
.php-cs-fixer.cache
.phpunit.result.cache
phpunit.xml
.DS_Store
.build
.env
.env.local
.swp
build/artifacts
phpunit.functional.xml
src/package.xml
vendor
*.cache
*.log
*.phar
*.zip
